body {background-color: black; color: white}

a {color: greenyellow; text-decoration: none;}

.hero {
  margin: 20vh 0 1vh 10vw;
  font-size: 10vw;
}

.banner {
  margin: 0 auto;
  text-align: center;
  font-size: 8vw;

}

nav {
  display: flex;
  justify-content: space-around;
  /* border: 3px solid greenyellow; */
  padding: 8px 0px;
  margin: auto;
}

nav div {
  font-size: 5vw;
  padding: 2vh 12vw;
  justify-content: center;
}

nav a:hover {
  outline: 1px solid greenyellow
}

.brdr-b {border-bottom: 1px solid greenyellow;}
.brdr-l {border-left: 1px solid greenyellow;}
.brdr-r {border-right: 1px solid greenyellow;}
.brdr-t {border-top: 1px solid greenyellow;}

.contact {
  text-align: center;
  margin-bottom: 0;
}

.pic {
  background-image: url();
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.foot h3 {
  margin: 0 auto;
  text-align: center;
  /* color: grey; */
}

.foot ul {
  list-style-type: none;
  padding-left: 0px;
  color: greenyellow;
}