body {background-color: black; color: white}

a {color: greenyellow; text-decoration: none;}

.hero {
  margin: 20vh 0 1vh 10vw;
  font-size: 10vw;
}

.banner {
  margin: 0 auto;
  text-align: center;
  font-size: 8vw;
}

nav {
  display: flex;
  justify-content: space-around;
  /* border: 3px solid greenyellow; */
  padding: 8px 0px;
  margin: auto;
}

nav div {
  font-size: 5vw;
  padding: 2vh 12vw;
  justify-content: center;
}

nav a:hover {
  outline: 1px solid greenyellow
}

/* wanted to make a snake-y outline that changes with route */
/* .brdr-b {border-bottom: 1px solid greenyellow;}
.brdr-l {border-left: 1px solid greenyellow;}
.brdr-r {border-right: 1px solid greenyellow;}
.brdr-t {border-top: 1px solid greenyellow;} */

/* ----------- ABOUT ----------- */

.pic {
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
}

.pic img {
  width: 30vw;
  /* margin-top: 100%; */
}

.pic div{
  margin-left: 5vw;
  font-weight: bold;
  font-size: 3vw;
}

.details p {margin: 2vh 5vw}

.stack {
  display: flex; 
  flex-flow: row wrap;
}

.tech {text-align: center;}
.tech img {
  width: 10vw;
  height: 10vw; 
  padding: 2vh 0px;
  margin: 0 5vw;
}

/* ----------- PROJECTS ----------- */

.proj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vh 1vw;
  font-size: 5vw;
}

.proj button {
  background-color: black;
  color: greenyellow;
  outline: 1px solid greenyellow;
  margin-left: 2vw;
  font-size: 4vw;
}

.fullwidth {width: 100vw}
.projName {padding-left: 1vw}
.projObj {padding-bottom: 3vh;}

/* ----------- FOOTER ----------- */
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 1.6rem;
}

.foot h3 {
  margin: 0 auto;
  text-align: center;
  /* color: grey; */
}

.foot ul {
  list-style-type: none;
  padding-left: 0px;
  color: greenyellow;
  margin: 0 auto;
  text-align: center;
}